<div id="sidebar">
  <section>
    <header><h2>Navigation</h2></header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/downloads.html">Downloads</a><ul>
        <li><a href="/toolkit.html">CBH Toolkit</a></li>
        <li><a href="/crashedit.html">CrashEdit</a></li>
        <li><a href="/drnsf.html">DRNSF</a></li>
        <li><a href="/pcsx-hdbg.html">PCSX-HDBG</a></li>
      </ul></li>
      <li><a href="//wiki.cbhacks.com/">Wiki</a></li>
      <li><a href="https://github.com/cbhacks/">GitHub</a></li>
    </ul>
  </section>
  <section>
    <header><h2>Community</h2></header>
    <ul>
      <li>Discord: <a href="about:blank">Invite link</a></li>
    </ul>
  </section>
</div>
